<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Twitter",root_path, id: "logo" %>
      <% if user_signed_in? %>
      <nav>
        <ul class="nav pull-right">          
          <li><%= link_to "Home", dashboard_path %></li>
          <li><%= link_to "Find People", users_path %></li>
          <li><%= link_to "Sign Out",destroy_user_session_path, method: :delete %></li>
        </ul>
      </nav>
      <% else %>
      <ul class="nav pull-right">          
          <li><%= link_to "Sign Up",new_user_registration_path, method: :get %> or <%= link_to "Sign In", new_user_session_path, method: :get %></li>
        </ul>
      <% end %>
    </div>
  </div>
</header>
