<!DOCTYPE html>
<html>
<head>
  <title>Plat</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %> 
<div class="container">

<% if alert %>
  <p><%= alert %></p>
<% end %>

<% if notice %>
  <p><%= notice %></p>
<% end %>
        
        <div><%= form_for(:search, url:search_path, method: :get) do |form| %>
          <%= form.text_field :term %>
          <%= form.submit "Search" %>
        <% end %></div>
<center><%= yield %></center>

</div>
</body>
</html>
